<a href="https://colab.research.google.com/github/JainUtkarsh18/E-Ticket-Booking-System_SQL-Basic-Implementation/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('e_ticket_booking.db')
cursor = conn.cursor()

# Create tables
def create_tables():
    cursor.execute('''CREATE TABLE IF NOT EXISTS Users (
                        user_id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL,
                        email TEXT NOT NULL UNIQUE,
                        phone TEXT NOT NULL)''')

    cursor.execute('''CREATE TABLE IF NOT EXISTS Events (
                        event_id INTEGER PRIMARY KEY AUTOINCREMENT,
                        event_name TEXT NOT NULL,
                        event_date TEXT NOT NULL,
                        venue TEXT NOT NULL,
                        available_seats INTEGER NOT NULL)''')

    cursor.execute('''CREATE TABLE IF NOT EXISTS Bookings (
                        booking_id INTEGER PRIMARY KEY AUTOINCREMENT,
                        user_id INTEGER,
                        event_id INTEGER,
                        seats_booked INTEGER NOT NULL,
                        booking_date TEXT NOT NULL,
                        FOREIGN KEY (user_id) REFERENCES Users(user_id),
                        FOREIGN KEY (event_id) REFERENCES Events(event_id))''')
    conn.commit()

In [ ]:
# Insert sample data
def insert_sample_data():
    # Inserting Users
    cursor.execute("INSERT INTO Users (name, email, phone) VALUES ('Utkarsh Jain', 'utkarshjain@example.com', '1234567890')") # Changed email to be unique
    cursor.execute("INSERT INTO Users (name, email, phone) VALUES ('Jain Utkarsh', 'jainutkarsh@example.com', '0987654321')") # Changed email to be unique

    # Inserting Events
    cursor.execute("INSERT INTO Events (event_name, event_date, venue, available_seats) VALUES ('New Delhi', '2024-10-24', 'Mumbai', 100)")
    cursor.execute("INSERT INTO Events (event_name, event_date, venue, available_seats) VALUES ('New Delhi', '2024-11-24', 'Pune', 200)")

    conn.commit()

In [ ]:
# Booking a ticket
def book_ticket(user_id, event_id, seats):
    cursor.execute("SELECT available_seats FROM Events WHERE event_id = ?", (event_id,))
    available_seats = cursor.fetchone()[0]

    if available_seats >= seats:
        cursor.execute("UPDATE Events SET available_seats = available_seats - ? WHERE event_id = ?", (seats, event_id))
        cursor.execute("INSERT INTO Bookings (user_id, event_id, seats_booked, booking_date) VALUES (?, ?, ?, date('now'))",
                       (user_id, event_id, seats))
        conn.commit()
        print("Booking successful!")
    else:
        print("Not enough seats available.")

In [ ]:
# View bookings
def view_bookings():
    cursor.execute('''SELECT b.booking_id, u.name, e.event_name, b.seats_booked, b.booking_date
                      FROM Bookings b
                      JOIN Users u ON b.user_id = u.user_id
                      JOIN Events e ON b.event_id = e.event_id''')
    bookings = cursor.fetchall()

    for booking in bookings:
        print(f"Booking ID: {booking[0]}, Name: {booking[1]}, Event: {booking[2]}, Seats: {booking[3]}, Date: {booking[4]}")

In [ ]:
# Main program
if __name__ == "__main__":
    create_tables()
    insert_sample_data()

    # Book a ticket
    user_id = 1  # John Doe
    event_id = 1  # Rock Concert
    seats_to_book = 2
    book_ticket(user_id, event_id, seats_to_book)

    # View all bookings
    print("\nAll Bookings:")
    view_bookings()

    # Close the database connection
    conn.close()

Booking successful!

All Bookings:
Booking ID: 1, Name: Utkarsh Jain, Event: New Delhi, Seats: 2, Date: 2024-10-05
Booking ID: 2, Name: Utkarsh Jain, Event: New Delhi, Seats: 2, Date: 2024-10-05